.panel
  .panel-heading
    .actions
      = link_to 'add in bulk', list_add_in_bulk_path(list), class: 'btn btn-default btn-small'
    .title= "#{list.name} contains #{list.posts.count} items"
    .subtitle
      This will last you for
      %strong= "#{list.number_of_unique_days} days "
      given your current schedules.

  .panel-body
    .panel-row
      = form_tag list_add_post_path(list),  multipart: true , id: 'share_expand' do
        .form-group
          = text_area_tag :text, nil, placeholder: "'What do you want to share?'", rows: 1, class: 'form-control m5'
        .form-group.hidden.can-hide
          = file_field_tag :asset, class: 'pull-left'
          = submit_tag "Add to #{list.name}", class: 'btn btn-primary pull-right'
          .clearfix

    - list.sorted_posts.each do |post|
      .panel-row
        = render partial: 'post', locals: { post: post }
