.panel
  .panel-heading
    .actions
      = link_to 'add in bulk', list_posts_bulk_path(list), class: 'btn btn-default btn-small'
    .title= "#{list.name} contains #{list.posts.count} items"
    .subtitle
      - if list.posts.empty?
      - else
        This will last you for
        %strong= "#{list.number_of_unique_days} days "
        given your current schedules.

  .panel-body
    .panel-row
      - if current_user.posts.empty?
        .large.m10
          Enter your first tweet right here:
      = form_for Post.new,  multipart: true, html: { class: 'share-expand reduced' } do |f|
        .form-group
          = f.hidden_field :list_id, value: list.id
          - params = { placeholder: "'What do you want to share?'", rows: "#{list.posts.empty? ? 3 : 1}", class: 'form-control m5 twitter-text-counter', id: "post_text", data: { target: '#text_counter' } }
          - params.merge!({autofocus: 'autofocus'}) if list.posts.empty?
          = f.text_area :text, params
        .form-group.can-hide
          = f.file_field :asset, class: 'pull-left'
          .pull-right
            %span.subtle.small.twitter-counter#text_counter
              140
            = f.submit "Add to #{list.name}", class: 'btn btn-primary pull-right'
          .clearfix
    .list-posts
      - list.sorted_posts.each do |post|
        .panel-row{id: "post_#{post.id}"}
          = render partial: 'post', locals: { post: post }
