.container
  .row
    .col-md-3
      .filter
        .title Lists
        %ul.lists
          - @lists.each do |list|
            = render partial: 'queue/list', locals: { list: list }
        = form_for @new_list, url: lists_path do |f|
          = f.text_field :name
          = f.submit "Create new list"

    .col-md-9
      = render partial: 'list', locals: { list: @list }

