.container
  .row
    .center_panel

      .panel.panel-default.only
        .panel-heading
          = "#{@list.name} contains #{@list.posts.count} items"

        .panel-body
          - @list.sorted_posts.each do |post|
            %p
              %strong= post.providers.map(&:nickname).join(',')
              %br
              = "#{post.text}"
              - if post.has_media?
                %br
                = image_tag post.media_url(:thumb)
              = link_to "delete", "/lists/#{@list.id}/remove_post/#{post.id}", { method: "POST" }

      .panel.panel-default.only
        .panel-heading
          Add more content

        .panel-body
          .row
            .col-md-6
              %p
                %strong Add a single post
              = form_tag list_add_post_path(@list), { multipart: true } do
                - identities.each do |identity|
                  = label_tag do
                    = check_box_tag 'identity_ids[]', identity.id, false, id: "identity_ids_#{identity.id}"
                    = identity.nickname
                = hidden_field_tag :list_id, value: @list.id
                = text_area_tag :text
                = file_field_tag :asset
                = submit_tag "Add Post"

            .col-md-6
              %p
                %strong Add multiple posts, separated by double enters
              = form_tag list_batch_add_post_path(@list) do
                = hidden_field_tag :list_id, value: @list.id
                = text_area_tag :text
                = submit_tag "Add All"
          / = form_for @post, url: list_add_post_path(@list), html: { multipart: true }, layout: :horizontal do |f|
          /   = f.hidden_field :list_id, value: @list.id
          /   = fields_for @post.content_item do |ci_form|
          /     = ci_form.text_area :text
          /   = f.submit "Add"
