.container
  - if current_user.posts.empty?
    = render partial: 'empty_library'

  .row
    .col-md-3
      .filter
        .pull-right
          %a.btn.btn-mini.btn-default#add_list
            %i.fa.fa-plus

        .title Select a List

        %ul.lists
          - current_user.lists.each do |list|
            = render partial: 'list_menu', locals: { list: list }
          %li.list.hidden#add_list_form
            = form_for List.new, html: { class: 'form-inline' } do |f|
              .color-code
              .name{style: 'max-width: 50%'}
                = f.text_field :name, class: 'form-control input-sm', style: 'width: 100%'
              .pull-right= f.submit 'add', class: 'form-control btn btn-primary btn-sm'

    .col-md-9

      = render partial: 'list', locals: { list: @list }
