= form_for Feed.new do |f|
  .form-group
    = f.label :url, 'Enter the url of the feed'
    = f.text_field :url, placeholder: 'URL of the feed', class: 'form-control', required: 'required'
  .form-group
    = f.label :category_id, 'Select category'
    %i.fa.fa-question-circle{data: {toggle: 'tooltip', title: 'all posts from this feed will be added to the selected category'}}

    = f.select :category_id, options_for_select(categories.map { |l| ["#{l.name} (#{l.posts.count})", l.id] }), {}, class: 'form-control'
  .form-group
    = check_box_tag :retrieve_content, 1, true
    = label_tag :retrieve_content, 'retrieve already published content'
    %i.fa.fa-question-circle{data: {toggle: 'tooltip', title: 'select this if you want older posts add to your library'}}
  = f.submit "Add feed", class: 'btn btn-primary'
