.container
  .row
    .col-md-12
      .panel
        .panel-heading
          .actions
            %a.btn.btn-default.btn-small{href: "#add_feed", onclick: "document.getElementById('feed_title').focus()"}
              add new feed
          .title
            = "Feeds"
          .subtitle
            Every time a new item is added to the RSS feeds below, a post is added to your content library in this category.

        .panel-body
          - if @feeds.empty?
            .panel-row{style: 'padding-top: 50px; padding-bottom: 50px'}
              .xx-large.center
                %i.fa.fa-rss.fa-4x.icon-fade
              .x-large.center.m45
                You currently have no connected RSS feeds -
                %br
                add your first one below.
              %div{style: 'max-width: 600px; margin: auto; color: #666'}
                %h4 Sharing your content was never this easy
                %p
                  You can add any feed you want. Everytime an item is added to one of these feeds, we  receive a notification and add a fresh, newly minted post to your category.
                %h4 Wondering how you can use this?
                %p
                  You can add a feed to your own blog so everytime you publish a post, it will automatically be added to your content libray. You can easily change the text, add hashtags or mentions right here.
                %p
                  Another possibility is to add all your favorite blogs to a new category just for that purpose. Then once a while just check out this category and filter out the posts you don't want to share. You can copy the ones you like to other categories and enjoy the rest of the week knowing your content calendar is nicely filled up!

          - @feeds.each do |feed|
            .panel-row
              %p.large
                = feed.title
              %p
                = feed.url
              .small
                = link_to 'delete', feed_path(feed), method: :delete
          .panel-row
            %a{name: "add_feed"}
            %p.large
              Add a new feed to this category
            = form_for Feed.new do |f|
              = f.hidden_field :user_id, value: current_user.id
              .form-group
                = f.label :url, 'Enter the url of the feed'
                = f.text_field :url, placeholder: 'URL of the feed', class: 'form-control'
              .form-group
                = f.label :category_id, 'Select category'
                %i.fa.fa-question-circle{data: {toggle: 'tooltip', title: 'all posts from this feed will be added to the selected category'}}

                = f.select :category_id, options_for_select(@categories.map { |l| ["#{l.name} (#{l.posts.count})", l.id] }), {}, class: 'form-control'
              .form-group
                = check_box_tag :retrieve_content, 1, true
                = label_tag :retrieve_content, 'retrieve already published content'
                %i.fa.fa-question-circle{data: {toggle: 'tooltip', title: 'select this if you want older posts add to your library'}}
              = f.submit "Add feed", class: 'btn btn-primary'
