.header.m10
  .profile
    %i{'class': "fa fa-#{update.identity.provider} #{update.identity.provider}"}
    %img{'src': update.identity.image}
  .account
    = update.identity.name
    %span.subtle= update.identity.subname
  .timestamp
    - time = update.published_at < Time.zone.now - 10.days ? update.published_at.strftime("%I:%M %P %b %e") : "#{time_ago_in_words(update.published_at)} ago"
    = link_to time, update.social_media_url, target: '_blank'
    from
    = link_to update.category.name, library_path(category: update.category)
.body
  - if update.has_media?
    .pull-right{style: 'margin-left: 10px'}
      = link_to (image_tag update.media_url(:thumb)), update.media_url
  .text.m10
    = raw auto_link show update.text
  .clearfix
.row.large
  .col-xs-2.text-center{class: "text-#{update.shares > 0 ? 'primary' : 'muted' }", data: { title: 'number of times this post was retweeted', toggle: 'tooltip'}}
    %i.fa.fa-retweet
    = update.shares
  .col-xs-2.text-center{class: "text-#{update.likes > 0 ? 'primary' : 'muted' }", data: { title: 'number of times this post was liked', toggle: 'tooltip'}}
    %i.fa.fa-heart
    = update.likes
  - if !(short_urls = update.shortened_urls).empty?
    - clicks = short_urls.map(&:use_count).reduce :+
    .col-xs-2.text-center{class: "text-#{clicks > 0 ? 'primary' : 'muted' }", data: { title: 'number of times the links in this post were clicked', toggle: 'tooltip'}}
      %i.fa.fa-link
      = clicks
