%p
  %span.text-muted
    Schedule for
  %strong= schedule.identity.subname
  %em.text-muted= schedule.identity.provider
%table.calendar{border: "1", style: "border: 1px solid #F0F0F0", id: "schedule_#{schedule.id}"}
  - timeslots = schedule.timeslots.group_by { |slot| slot.day }
  %thead
    %tr
      %th
      - 0.upto(6).each do |day|
        %th
          = Date::DAYNAMES[day]
  %tbody
    - timeblocks = convert_to_timeblocks(schedule)
    - minute_blocks_per_day.times.each do |block|
      %tr
        %td
          = block_time(block, "%-I %P")
        - 7.times.each do |day|
          %td{id: "day_#{day}_block_#{block}"}
            - ((timeblocks[day] || {})[block] || []).each do |slot|
              = render partial: 'schedules/timeslot', locals: { slot: slot }
  %tfooter
    %tr
      %td
      - 0.upto(6).each do |day|
        %td.center
          %a.btn.btn-default.btn-sm.add-timeslot.center{'data-day': day, 'data-toggle': 'modal', 'data-target': "#dialog_timeslot_#{schedule.id}"}
            Add timeslot


.modal.fade{tabindex: 1, role: 'dialog', 'aria-hidden': "true", id: "dialog_timeslot_#{schedule.id}", 'data-show': 'false'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'aria-label': 'Close', 'data-dismiss': 'modal'}
          %span{'aria-hidden': true}
            &times;
        .modal-title.large
          Add a new timeslot
      .modal-body
        = render partial: 'timeslots/form', locals: { schedule: schedule, timeslot: Timeslot.new, id: "dialog_timeslot_#{schedule.id}" }
