.pull-right
  = form_tag schedules_path, method: 'GET' do
    .text-muted.small.m10
      filter by account:
      - identities.each_with_index do |identity, index|
        .account-picker-item.includes-provider-logo{data: {toggle: 'tooltip', title: "#{identity.subname}"}}
          = check_box_tag '', identity.id, false, id: "filter_identity_#{index}", class: 'filter-identity'
          = label_tag "filter_identity_#{index}", class: 'm0' do
            = image_tag identity.image
            %i.fa{class: "fa-#{identity.provider} bg-#{identity.provider} provider-logo-br logo-square logo-radius text-center"}
%table.calendar.schedule
  %thead
    %tr
      %th
      - 0.upto(6).each do |day|
        %th
          = Date::DAYNAMES[day]
  %tbody
    - timeblocks = convert_to_timeblocks(timeslots)
    - minute_blocks_per_day.times.each do |block|
      %tr
        %td
          = block_time(block, "%-I %P")
        - 7.times.each do |day|
          %td.timeslot-holder{id: "day_#{day}_block_#{block}"}
            - ((timeblocks[day] || {})[block] || []).each do |slot|
              = render partial: 'schedules/timeslot', locals: { slot: slot }
            %a.add-timeslot.hide.x-small.text-center{:href => "!#", data: {day: day, time: block_time(block, "%H:%M"), toggle: 'modal', target: "#dialog_timeslot"}}
              %i.fa.fa-plus
              add timeslot
  %tfooter
    %tr
      %td
      - 0.upto(6).each do |day|
        %td.center
          %a.btn.btn-default.btn-sm.add-timeslot.center{'data-day': day, 'data-toggle': 'modal', 'data-target': "#dialog_timeslot"}
            Add timeslot


.modal.fade{tabindex: 1, role: 'dialog', 'aria-hidden': "true", id: "dialog_timeslot", 'data-show': 'false'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'aria-label': 'Close', 'data-dismiss': 'modal'}
          %span{'aria-hidden': true}
            &times;
        .modal-title.large
          Add a new timeslot
      .modal-body
        = render partial: 'timeslots/form', locals: { timeslot: Timeslot.new, id: "dialog_timeslot" }


- content_for :javascripts do
  :coffeescript
    $ ->
      $('.filter-identity').change ->
        $(".timeslot").hide()
        ids = $('.filter-identity:checked').map ->
          $(this).val()
        if ids.length == 0
          timeslots_with_identity().show()
        else
          $.each ids, ->
            timeslots_with_identity(this).show()

    window.timeslots_with_identity = (id) ->
      if !id
        $('.timeslot')
      else
        $('.timeslot').filter ->
          !!$(this).find(".identity[data-id='" + id + "']").length
