.timeslot{id: "timeslot_#{slot.id}", style: "background-color: #{lighten_color slot.category.color, 0.4}; border-color: ##{slot.category.color}"}
  .pull-right.actions
    .x-small
      = link_to slot, method: :delete, remote: true do
        %i.fa.fa-trash
  .timestamp
    = offset_to_time(slot.offset, "%I:%M %P")
  .category
    = link_to(slot.category.name, category_path(slot.category), class: 'text-primary') if slot.category
  .identities
    - slot.identities.each do |identity|
      = image_tag identity.image, style: 'width: 24px', class: 'identity', data: { toggle: 'tooltip', title: "#{identity.subname} - #{identity.provider}"}

