.timeslot{id: "timeslot_#{slot.id}", style: "background-color: #{lighten_color slot.list.color, 0.4}; border-color: ##{slot.list.color}"}
  .pull-right.actions
    .x-small
      = link_to slot, method: :delete, remote: true do
        %i.fa.fa-trash
  .timestamp
    = offset_to_time(slot.offset, "%I:%M %P")
  .list
    = link_to(slot.list.name, list_path(slot.list)) if slot.list
