- selected = filter_link_contains element, id.to_s, params
- element_name = element.class.name.downcase
- link_params ||= {}
%li{ class: element_name, id: "#{element_name}_#{id}", data: { type: element_name, value: id} }
  = link_to filter_link_params(element, id.to_s, params), class: "#{'selected' if selected}" do
    = yield
