%ul.categories
  - categories.each do |category|
    %li.category.filterable{data: {type: 'category', value: "#{category.id}"}}
      - if defined?(selected_category) && selected_category.id == category.id
        = link_to library_path, class: 'selected' do
          .color-code{'style': "background-color: ##{category.color}"}
          .name= category.name
          - if defined? amount_proc
            .amount{data: {toggle: 'tooltip', title: 'number of posts in this category', placement: 'auto'}}
              = amount_proc.call category
      - else
        = link_to category_path(category) do
          .color-code{'style': "background-color: ##{category.color}"}
          .name= category.name
          - if defined? amount_proc
            .amount{data: {toggle: 'tooltip', title: 'number of posts in this category', placement: 'auto'}}
              = amount_proc.call category

  %li.category.hidden#add_category_form
    = form_for Category.new, html: { class: 'form-inline' } do |f|
      .color-code
      .name{style: 'max-width: 50%'}
        = f.text_field :name, class: 'form-control input-sm', style: 'width: 100%'
      .pull-right= f.submit 'add', class: 'form-control btn btn-primary btn-sm'
