.container
  .row
    .col-md-12
      - if @identities.count > 0
        .panel
          .panel-heading
            .actions
              %a.btn.btn-default.btn-sm{href: '#add-new'}
                add network
            .title
              Connected Social Networks
          .panel-body
            - @identities.each do |identity|
              .panel-row.update
                %img.profile-image{src: "#{identity.image}"}
                .next-to-image
                  %strong= identity.subname || identity.name
                  .subtle= identity.provider
                  .provider.actions
                    %small= link_to 'remove', identity_path(identity), method: :delete, data: { confirm: 'This will also remove the connected schedule. Are you sure you want to proceed?' }


      = render partial: 'add'
