/ # - cache ["v1", update, update.identity, update.category] do
%div{class: "#{update.category.name.gsub(' ','_').downcase}", id: "update_#{update.id}"}
  = render partial: 'shared/error_message', locals: { resource: update }
  .color-code{style: "background: #{lighten_color update.category.color, 0.15}"}
  .header.m15
    .profile
      %i{'class': "fa fa-#{update.identity.provider} bg-#{update.identity.provider}"}
      %img{'src': update.identity.image}
    .time-ago
      = timeago calculate_local_time(update.scheduled_at)
    .account
      %strong= update.identity.name
      %span.text-muted.text-light= update.identity.subname
    .timestamp.text-muted
      %i.fa.fa-clock-o
      = calculate_local_time(update.scheduled_at).strftime("%l:%M %P - %d/%m/%y")
  .body
    - if update.has_media?
      .pull-right{style: 'margin-left: 10px'}
        = link_to (image_tag update.media_url(:thumb)), update.media_url
    .text.large.m15
      = raw auto_link show update.text
    - if update.link
      .link-container.m10
        .row
          .col-md-3
            .thumb
              .image-container
                = image_tag update.link.image_url
          .col-md-9{style: 'padding: 10px 0'}
            %p.m5.small
              %strong= raw auto_link show update.link.title
            %p.m10.small.text-muted
              = update.link.description
            %p.m0.text-muted.x-small.text-uppercase
              = link_to update.link.caption, update.link.url, class: 'text-muted'
    .clearfix
  .footer
    .category-badge
      .name
        = update.category.name
    .pull-right.small.actions
      = link_to skip_update_path(update, @filtering_params), method: 'POST', class: 'text-muted action' do
        skip
        = " | "
        = link_to edit_post_path(update.post), data: { disable_with: 'loading...' }, class: 'text-muted action' do
          edit
    .clearfix
