/ # - cache ["v1", update, update.identity, update.category] do
%div{class: "#{update.category.name.gsub(' ','_').downcase}", id: "update_#{update.id}"}
  .color-code{style: "background: #{lighten_color update.category.color, 0}"}
  .header.m15
    .profile
      %i{'class': "fa fa-#{update.identity.provider} #{update.identity.provider}"}
      %img{'src': update.identity.image}
    .time-ago
      = timeago calculate_local_time(update.scheduled_at)
    .account
      %strong= update.identity.name
      %span.text-muted.text-light= update.identity.subname
    .timestamp.text-muted
      %i.fa.fa-clock-o
      = calculate_local_time(update.scheduled_at).strftime("%l:%M %P - %d/%m/%y")
  .body.m15
    - if update.has_media?
      .pull-right{style: 'margin-left: 10px'}
        = link_to (image_tag update.media_url(:thumb)), update.media_url
    .text.large
      = raw auto_link show update.text
    .clearfix
  .footer
    .category-badge
      .name
        = update.category.name
    .pull-right.small.actions
      = link_to skip_update_path(update), method: 'POST', class: 'text-muted action' do
        skip
      = ' | '
      = link_to category_path(update.category), class: 'text-muted action' do
        reorder category
    .clearfix
