- cache ["v1", update, update.identity, update.category] do
  .header.m10
    .profile
      %i{'class': "fa fa-#{update.identity.provider} #{update.identity.provider}"}
      %img{'src': update.identity.image}
    .time-ago
      = timeago calculate_local_time(update.scheduled_at)
    .account
      %strong= update.identity.name
      %span.text-muted= update.identity.subname
    .timestamp.text-muted= calculate_local_time(update.scheduled_at).strftime("%l:%M %P - %d/%m/%y")
  .body
    - if update.has_media?
      .pull-right{style: 'margin-left: 10px'}
        = link_to (image_tag update.media_url(:thumb)), update.media_url
    .text.m10
      = raw auto_link show update.text
    .bottom
      .category-badge
        .color-code{style: "background-color: ##{update.category.color};"}
        .name= update.category.name
    .clearfix
