%li.social-profile
  %a{href: "?identity=#{identity.id}"}
    %img{src: "#{identity.image}"}
    .name= identity.subname || identity.name
    .provider= identity.provider
    .amount= identity.updates.scheduled.count
