.row
  .col-md-3
    .filter.m20
      - if !identities.to_a.empty?
        .pull-right
          %a.btn.btn-mini.btn-default{href: "#{identities_url}#add-new"}
            %i.fa.fa-plus

      .title Filter by account
      - if identities.to_a.empty?
        = link_to 'Add your first social media account', identities_url, class: 'btn btn-primary form-control m20'
      = render partial: 'shared/filter_identities', locals: { identities: identities }

    .filter.m20
      .pull-right
        %a.btn.btn-mini.btn-default#add_category
          %i.fa.fa-plus
      .title Filter by category
      = render partial: 'shared/filter_categories', locals: { categories: categories }


  .col-md-9
    - if identities.to_a.empty?
      = render partial: 'identities/add'

    - else

      .m10= link_to "Reschedule queue", queue_reschedule_path

      .m10
        = render partial: 'shared/filter_bar'

      - date = nil
      - @updates.each do |day, updates|
        = render partial: 'queue/updates_for_day', locals: { updates: updates, day: day }
