.container
  .row
    .col-md-3
      .filter
        - if !@identities.empty?
          .pull-right
            %a.btn.btn-mini.btn-default{href: "#{identities_url}#add-new"}
              %i.fa.fa-plus

        .title Filter by account
        - if @identities.empty?
          = link_to 'Add your first social media account', identities_url, class: 'btn btn-primary form-control'
          %br
          %br
        = render partial: 'identities', locals: { identities: @identities }

      .filter
        .pull-right
          %a.btn.btn-mini.btn-default#add_list
            %i.fa.fa-plus
        .title Filter by list
        %ul.lists
          - @lists.each do |list|
            = render partial: 'list', locals: { list: list }
          %li.list.hidden#add_list_form
            = form_for List.new, html: { class: 'form-inline' } do |f|
              .color-code
              .name{style: 'max-width: 50%'}
                = f.text_field :name, class: 'form-control input-sm', style: 'width: 100%'
              .pull-right= f.submit 'add', class: 'form-control btn btn-primary btn-sm'


    .col-md-9
      - if @updates.empty?
        = render partial: 'identities/add'

      - else

        = link_to "Reschedule queue", queue_reschedule_path

        - date = nil
        - split_updates_in_days.each do |day, updates|
          = render partial: 'updates_for_day', locals: { updates: updates, day: day }
