= form_for post,  multipart: true do |f|
  = hidden_field_tag :redirect, request.path
  .form-group
    = f.label :category_id do
      Category:
    = f.select :category_id, options_for_select(categories.map { |l| ["#{l.name} (#{l.posts.count})", l.id] }, post.category), {}, class: 'form-control'
  .form-group
    .pull-right
      %span.subtle.small
        twitter text limit:
        %span.twitter-counter{id: "text_counter_post_#{post.id}"}
          140
    = f.label :text, "Text"
    = f.text_area :text, placeholder: "What do you want to share?", rows: 4, class: 'form-control m5 twitter-text-counter', id: 'post_text', data: { target: "#text_counter_post_#{post.id}" }
  .form-group
    - if post.asset
      %p
        = "Contains image: #{post.asset.media_file_name}. Choose another one below to overwrite."
    = f.file_field :asset, class: 'pull-left'
    .pull-right
      = submit_tag "Update", class: 'btn btn-primary pull-right', data: { disable_with: 'Updating...' }
    .clearfix
