= form_for post, multipart: true, html: { class: 'jquery-upload-form post-edit' } do |f|
  = hidden_field_tag :redirect, redirect ||= ''
  = f.hidden_field :asset_id, class: "asset-id-#{post.id} twitter-counter-image-trigger", data: { target: "#text_counter_#{post.id}", text: ".text_#{post.id}"}
  .form-group
    %div
      = f.label 'nil' do
        = "Select accounts:"
    / # = f.fields_for :social_media_posts do |builder|
    - all_identities.each_with_index do |identity, index|
      - social_media_post = post.social_media_posts.find { |post| post.identity_id == identity.id }
      .account-picker-item.includes-provider-logo{data: {toggle: 'tooltip', title: "#{identity.subname}"}}
        - if social_media_post
          = hidden_field_tag "post[social_media_posts_attributes][#{index}][id]", social_media_post.id
        = hidden_field_tag "post[social_media_posts_attributes][#{index}][identity_id]", identity.id
        = check_box_tag "post[social_media_posts_attributes][#{index}][_destroy]", 1, !social_media_post
        = label_tag "post[social_media_posts_attributes][#{index}][_destroy]", class: 'm0' do
          = image_tag identity.image
          %i.fa{class: "fa-#{identity.provider} bg-#{identity.provider} provider-logo-br logo-square logo-radius text-center"}

  .form-group
    = f.label :category_id do
      Choose a category:
    = collection_select :post, :category_id, categories, :id, :name_with_number, {prompt: ''}, class: 'form-control pull-left', style: 'width: calc(100% - 130px)', required: 'required'
    = link_to 'add category', '#!', class: 'btn btn-default form-control pull-left', id: 'add_content', style: "width: 120px; margin-left: 10px"
    .clearfix
  .form-group
    .pull-right.can-hide
      %span.subtle.small#twitter_text_counter
        twitter text limit:
        %span.twitter-counter{id: "text_counter_#{post.id}"}
          140
    = f.label :text do
      Text:
    = f.text_area :text, placeholder: "What do you want to share?", rows: 4, class: "form-control m5 twitter-text-counter link-extractor text_#{post.id}", id: 'post_text', data: { target: "#text_counter_#{post.id}", image: ".asset-id-#{post.id}" }
  .form-group
    - if post.link
      #link_extraction.with-preview.has-result
        = render partial: 'posts/link_extraction', locals: { link: post.link }
    - else
      #link_extraction.hide.with-preview
        .text-center
          %p
            loading link content...
          %i.fa.fa-spinner.fa-pulse.fa-3x
  .form-group
    .assets#assets
      - if post.has_media?
        .preview
          %i.fa.fa-close.close-button.remove-attachment
          = image_tag post.media_url(:thumb)
  .form-group.can-hide
    .btn.btn-default.fileinput-button.pull-left
      %i.fa.fa-camera
      %span.text add an image
      = file_field_tag "asset[media]"
    .pull-right
      - if post.new_record?
        = submit_tag 'Save to Library', class: 'btn btn-primary pull-right', data: { disable_with: 'Adding...' }
      - else
        = submit_tag 'Update this Post', class: 'btn btn-primary pull-right', data: { disable_with: 'Updating...' }
    .clearfix


.modal.fade#add_content_panel{tabindex: 1, role: 'dialog', 'aria-hidden': "true", 'data-show': 'false'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'aria-label': 'Close', 'data-dismiss': 'modal'}
          %span{'aria-hidden': true}
            &times;
        .modal-title.large
          Add a New Category
      .modal-body
        = form_for Category.new, html: { class: 'form-horizontal' } do |f|
          = hidden_field_tag :redirect
          .form-group
            = f.label :name, class: 'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :name, class: 'form-control'
          .form-group
            .col-sm-10.col-sm-offset-2
              = f.submit "Add Category", class: 'btn btn-primary', data: { disable_with: 'Adding...' }

/ can we pretty this beast up?
/ Problem is that content_for does not register when loading this page async
/ While $ is not available if we just include the javascript if this partial is not loaded async...
- if post.new_record?
  - content_for :javascripts do
    :javascript
      $(function() {
        initOnPageLoad();
        $('input[id="redirect"]').val(location.href);
        $('#add_content').click(function() {
          $('#add_content_panel').modal('show');
          $('#category_name').focus();
        });
        checkProviderFunctions();
      });
- else
  :javascript
    $(function() {
      initOnPageLoad();
      $('input[id="redirect"]').val(location.href);
      $('#add_content').click(function() {
        $('#add_content_panel').modal('show');
        $('#category_name').focus();
      });
      checkProviderFunctions();
    });
