- cache ["v1", post] do
  .body
    %p.text-muted.small.provider-icons
      - post.providers.each do |provider|
        %i.text-center.fa{class: "fa-#{provider} bg-#{provider}", style: 'width: 20px; line-height: 20px'}
    - if post.has_media?
      .pull-right{style: 'margin-left: 10px'}
        = link_to (image_tag post.media_url(:thumb)), post.media_url
    .text.large.m15
      = raw auto_link show post.text
    - if post.link
      .link-container.m15
        .row
          .col-md-12
            %p.x-small.text-uppercase.text-muted.text-center
              %i.fa.fa-facebook.color-facebook
              facebook specific link content
          .col-md-3
            = image_tag post.link.image_url, style: 'max-width: 100%', class: 'm10'
          .col-md-9
            %p.m5.small
              %strong= raw auto_link show post.link.title
            %p.m10.small
              = post.link.description
            %p.m10.text-muted.x-small.text-uppercase
              = link_to post.link.caption, post.link.url
    .clearfix
  .footer
    - if !(preview ||= false)
      %span.pull-left.x-small
        = link_to post_path(post), { method: "delete", remote: true, class: 'text-muted' } do
          %i.fa.fa-trash
          delete
        = " | "
        = link_to edit_post_path(post), remote: true, data: { disable_with: 'loading...' }, class: 'text-muted' do
          %i.fa.fa-pencil
          edit
        = ' | '
        = link_to category_path(post.category), class: 'text-muted' do
          %i.fa.fa-sort
          reorder category
      .pull-right.x-small.text-muted
        %span
          added to
          = post.category.name
          %abbr{title: "#{calculate_local_time(post.created_at).strftime("%l:%M %P - %d/%m/%y")}", data: {toggle: 'tooltip'}}
            = timeago post.created_at
      .clearfix
