- cache ["v1", post, post.asset] do
  .body
    - if post.has_media?
      .pull-right.m10{style: 'margin-left: 10px'}
        = link_to (image_tag post.media_url(:thumb)), post.media_url
    .large.m10
      = raw auto_link show post.text
    .clearfix
  - if post.link
    .row.with-preview
      - if post.has_media?
        .col-xs-4
          .thumb
        .col-xs-8
      - else
        .col-xs-12
          %p.text-muted.x-small.m5
            %i.fa.fa-facebook.color-facebook
            only for facebook
          %p.m5{style: 'margin-top: 0'}
            = post.link.title
          %p.text-muted.x-small.m5
            = post.link.url.to_s
          %p.small.m0
            = post.link.description
      .clearfix
  .footer
    - if !(preview ||= false)
      %span.pull-left.x-small
        = link_to post_path(post), { method: "delete", remote: true, class: 'text-muted' } do
          %i.fa.fa-trash
          delete
        = " | "
        = link_to edit_post_path(post), remote: true, data: { disable_with: 'loading...' }, class: 'text-muted' do
          %i.fa.fa-pencil
          edit
        = ' | '
        = link_to category_path(post.category), class: 'text-muted' do
          %i.fa.fa-sort
          reorder category
      .pull-right.x-small.text-muted
        %span
          added to
          = post.category.name
          %abbr{title: "#{calculate_local_time(post.created_at).strftime("%l:%M %P - %d/%m/%y")}", data: {toggle: 'tooltip'}}
            = timeago post.created_at
      .clearfix
