- cache ["v1", post, post.asset] do
  = render partial: 'shared/error_message', locals: { resource: post }
  .color-code{style: "background: #{lighten_color post.category.color, 0.15}"}
  .body
    %p.text-muted.x-small.m15.provider-icons
      - post.social_media_posts.each do |smp|
        = image_tag smp.identity.image, class: 'provider-icon', data: { toggle: 'tooltip', title: "#{smp.identity.subname} - #{smp.identity.provider}"}
    - if post.has_media?
      .pull-right{style: 'margin-left: 10px'}
        = link_to (image_tag post.media_url(:thumb)), post.media_url
    .text.large.m15
      = raw auto_link show post.text
    - if post.link
      .link-container.m15
        .row
          .col-md-2
            = image_tag post.link.image_url, style: 'max-width: 100%', class: 'm10'
          .col-md-10
            %p.m5.small
              %strong= raw auto_link show post.link.title
            %p.m5.x-small.text-muted
              = post.link.description
            %p.m0.text-muted.x-small.text-uppercase
              = link_to post.link.caption, post.link.url, class: 'text-muted'
    .clearfix
  .footer
    .category-badge
      .name= post.category.name
    - if !(preview ||= false)
      %span.pull-right.small.actions
        = link_to post_path(post), { method: "delete", remote: true, class: 'text-muted action' } do
          delete
        = " | "
        = link_to edit_post_path(post), data: { disable_with: 'loading...' }, class: 'text-muted action' do
          edit
      .clearfix
