- cache ["v1", post, post.asset] do
  .color-code{style: "background: #{lighten_color post.category.color, 0}"}
  .body
    - if post.has_media?
      .pull-right.m10{style: 'margin-left: 10px'}
        = link_to (image_tag post.media_url(:thumb)), post.media_url
    .large.m10
      = raw auto_link show post.text
    .clearfix
  .footer
    .category-badge
      .name= post.category.name
    - if !(preview ||= false)
      %span.pull-right.small.actions
        = link_to post_path(post), { method: "delete", remote: true, class: 'text-muted action' } do
          delete
        = " | "
        = link_to edit_post_path(post), remote: true, data: { disable_with: 'loading...' }, class: 'text-muted action' do
          edit
        = " | "
        = link_to category_path(post.category), class: 'text-muted action' do
          reorder category
      .clearfix
