- cache ["v1", post, post.asset] do
  .body
    - if post.has_media?
      .pull-right.m10{style: 'margin-left: 10px'}
        = link_to (image_tag post.media_url(:thumb)), post.media_url
    .text.x-large.m10
      = raw auto_link show post.text
    .clearfix
  .footer
    - if !(preview ||= false)
      %span.pull-left.x-small
        = link_to "delete", post_path(post), { method: "delete", remote: true, class: 'text-muted' }
        = " | "
        %a{href: '#', class: 'text-muted', data: { toggle: 'modal', target: "#dialog_post_#{post.id}"}}
          edit
      .pull-right.x-small.text-muted
        %span
          added to
          = post.category.name
          %abbr{title: "#{calculate_local_time(post.created_at).strftime("%l:%M %P - %d/%m/%y")}", data: {toggle: 'tooltip'}}
            = timeago post.created_at
      .clearfix

  .modal.fade{tabindex: 1, role: 'dialog', 'aria-hidden': "true", id: "dialog_post_#{post.id}", 'data-show': 'false'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: 'button', 'aria-label': 'Close', 'data-dismiss': 'modal'}
            %span{'aria-hidden': true}
              &times;
          .modal-title.large
            Edit post
        .modal-body
          = render partial: 'posts/form', locals: { categories: current_user.categories, post: post, select_category: true }
