.container
  .row
    .center_panel

      .panel.panel-default.only
        .panel-heading
          = "Edit this post"

        .panel-body
          = form_for @post, html: { multipart: true } do |f|
            = f.text_area :text
            = file_field_tag :asset
            = f.submit "Update"
