- content_for :step_info do
  .tips-header.bg-info
    .container
      .row
        .col-md-12
          .dialog{style: 'margin-bottom: 0'}
            .progress
              .progress-bar.progress-bar-success.progress-bar-striped{style: 'width: 67%;', role: 'progressbar', aria: { valuenow: 67, min: 0, max: 100}}
                step 4 of 6
            %h1
              %strong Step 4:
              = t 'onboarding.step4.title'
            .actions.pull-right
            .description
              %p
                Below you can see your queue. This is a complete overview of all the posts Octoforce has scheduled to go out in the next 2 weeks.
              %p
                You may notice that your post is actually showing up
                %strong TWICE
                here. That's because you actually told Octoforce:
              %blockquote
                = "Every #{Date::DAYNAMES[@timeslot.day]} at #{offset_to_time @timeslot.offset, "%I:%M %P"}, I want you to take the next post from category '#{@timeslot.category.name}' and publish it. After publishing that post, I want you to keep it safe in my library. AND after all the other posts in that same category have been published, I want you to send it out again."
              %p
                = "As '#{@timeslot.category.name}' only contains a single post, it is scheduled twice. And after these 2 weeks, Octoforce will keep sending it out."
              %p
                = "In order to fix this, you need to add some more content to '#{@timeslot.category.name}'. The next step introduces 2 new possibilities that makes it easier and faster to add content in bulk."
            .bottom
              .pull-right
                = link_to welcome_step5_path, class: 'btn btn-primary btn-lg' do
                  Go to Step 5:
                  = t 'onboarding.step5.title'
                  %i.fa.fa-angle-right
              %p
                Show me those new moves!
              .clearfix

.container
  = render partial: 'queue/queue', locals: { updates: @updates, categories: @categories, identities: @identities }
