- content_for :step_info do
  .tips-header.bg-info
    .container
      .row
        .col-md-12
          .dialog
            .progress
              .progress-bar.progress-bar-success.progress-bar-striped{style: 'width: 50%;', role: 'progressbar', aria: { valuenow: 50, min: 0, max: 100}}
                step 3 of 6
            %h1
              %strong Step 3:
              - if @timeslots.size == 0
                = t 'onboarding.step3.title'
              - else
                You can add as many timeslots as you want
            .actions.pull-right
            .description
              %p
                Octoforce automatically fills in your calendar based on your schedule. You do need to add some timeslots to your schedule to tell it what type of content you want scheduled when.
            - if @timeslots.size == 0
              = link_to welcome_step4_path, class: 'small hidden-action' do
                I'll do this later
                %i.fa.fa-angle-right
            - else
              .bottom
                .pull-right
                  = link_to welcome_step4_path, class: 'btn btn-primary btn-lg' do
                    Go to Step 4:
                    = t 'onboarding.step4.title'
                    %i.fa.fa-angle-right
                %p
                  I like the way my schedule looks right now
                .clearfix


.container
  .row
    .col-md-12
      %h1.page-title
        Fill in the Blanks
      %h4.page-subtitle
        Just select options from the dropdowns and I will add a matching timeslot in your calendar.
      %hr.m30/
    .col-md-8.col-md-offset-2
      = form_for @slot, html: {class: 'form-inline center m30'} do |f|
        = hidden_field_tag :redirect, request.path
        %p.m20
          %span.x-large{style: 'line-height: 40px'}
            Every
            = f.select :day, day_options, { prompt: 'select a day'}, class: 'form-control', prompt: 'select a day', required: 'required'
            at
            = f.time_field :offset, class: 'form-control', required: 'required'
            I want to publish one post from
            = f.select :category_id, category_options, {prompt: 'choose a category'}, class: 'form-control', required: 'required'
            to
          = f.select :identity_ids, identity_options, {include_hidden: false}, placeholder: 'select at least 1 account', class: 'form-control select-identities', multiple: true, required: 'required', style: 'width: 300px'
        = f.submit 'Update my Schedule', class: 'form-control btn btn-primary'
  .row
    .col-md-12
      %h1.page-title
        Or add timeslots directly to your schedule yourself
      %h4.page-subtitle
        Basically the same as above, but not as nicely formatted.
      %hr/
    .col-md-12
      = render partial: 'schedules/schedule', locals: { timeslots: @timeslots, identities: @identities }


- content_for :javascripts do
  :javascript
    $(function() {
      $('.select-identities').select2({
        placeholder: 'Select at least 1 account'
      });
    })
