- content_for :step_info do
  .tips-header.bg-info
    .container
      .row
        .col-md-12
          .dialog
            = render partial: 'onboarding/progress', locals: { amount: 200/6, text: 'step 2 of 6'}
            %h1
              %strong Step 2:
              = t 'onboarding.step2.title'
            .actions.pull-right
            .description
              %p
                What is a scheduling tool without content? Exactly, completely useless.
              %p
                In order to see what Octoforce can do, you need to write your very first post. Or copy-paste one of your previously written ones in here. After all, we are a very heavy cheerleader for recycling.
              %p.small
                Step 5 will introduce some other possibilities to get your existing content into Octoforce, but for now we will do it the old-school way: plain old typing.
            - if @posts.size > 0
              .bottom
                .pull-right
                  = link_to welcome_step3_path, class: 'btn btn-primary btn-lg' do
                    Go to Step 3:
                    = t 'onboarding.step3.title'
                    %i.fa.fa-angle-right
                %p
                  I've got enough posts in my library for now
                .clearfix

.container
  .row
    .col-md-12
      %h1.page-title
        Write Your Very First Posts
      %h4.page-subtitle
        To make it easy, I already provided you with a simple example. Feel free to use this or type out your own.
      .page-subtitle
        Don't worry, nothing will be scheduled. That's the next step.
      %hr/
      = render partial: 'posts/form', locals: { categories: @categories, select_category: true, post: @post, redirect: welcome_step3_path }
