- content_for :step_info, flush: true do
  .tips-header.bg-info
    .container
      .row
        .col-md-12
          .dialog
            = render partial: 'onboarding/progress', locals: { amount: 100/6, text: 'step 1 of 6'}
            %h1
              %strong Step 1:
              = t 'onboarding.step1.title'
            .actions.pull-right
            .description
              %p
                Octoforce is a social media scheduling tool with a focus on recycling your posts. In order to fully experience its awesomeness, you do need to connect at least one social media account.
              %p
                So let's do that first below!
              %p.small
                Right now, only Twitter is supported. Facebook & LinkedIn are coming.
            = link_to welcome_step2_path, class: 'small hidden-action' do
              I'll do this later
              %i.fa.fa-angle-right
.container
  .row
    .col-md-12
  .row
    .col-md-12
      %h1.page-title
        Social Media Accounts
      %hr/
      .x-large.center.text-center
        .m10
          %i.fa.fa-4x.fa-twitter.color-twitter
        = link_to 'connect your twitter account', omniauth_authorize_path('user', 'twitter', force_login: true), class: 'btn btn-twitter btn-lg'



- if current_user.email.nil?
  .modal.fade{tabindex: 1, role: 'dialog', 'data-show': 'true', 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': 'false'}
    .modal-dialog{style: 'max-width: 400px'}
      .modal-content
        .modal-header
          %h3.modal-title
            Complete your account
        .modal-body
          %p.large
            Enter the email address where we can best reach you.
          %p.m20
            We'll send you some tips about octoforce and warn you if anything goes wrong.
          = text_field_tag :email, nil, class: 'form-control m10', placeholder: 'enter email here', autofocus: 'autofocus'
          = submit_tag "Let's get started!", class: 'form-control btn btn-primary'
