.panel
  .panel-heading
    .actions
      = link_to 'add in bulk', category_posts_bulk_path(category), class: 'btn btn-default btn-small'
    .title= "#{category.name} contains #{category.posts.count} items"
    .subtitle
      - if category.posts.empty?
      - else
        This will last you for
        %strong= "#{category.number_of_unique_days} days "
        given your current schedules.

  .panel-body
    .panel-row
      - if current_user.posts.empty?
        .large.m10
          Enter your first tweet right here:
      .post-form.reduced.share-expand
        = render partial: 'posts/form', locals: { categories: current_user.categories, select_category: false }
    .category-posts
      - category.sorted_posts.each do |post|
        .panel-row{id: "post_#{post.id}"}
          = render partial: 'posts/post', locals: { post: post }
