.body
  - if post.has_media?
    .pull-right{style: 'margin-left: 10px'}
      = link_to (image_tag post.media_url(:thumb)), post.media_url
  .text.x-large.m30
    = raw auto_link show post.text
  - if !(preview ||= false)
    .bottom
      %span.x-small.pull-right
        - if post.updates.scheduled.count > 0
          - scheduled_at = calculate_local_time post.updates.scheduled.sorted.first.scheduled_at
          scheduled for publication in
          %abbr{'data-toggle': 'tooltip', title: "#{scheduled_at.strftime('%A %-d %B at %I:%M %P')}"}
            = time_ago_in_words scheduled_at
        - elsif post.updates.published.count > 0
          = "last published #{time_ago_in_words calculate_local_time(post.updates.published.sorted.first.scheduled_at)} ago"
      %span.x-small{style: 'margin-right: 10px'}
        = link_to "delete", post_path(post), { method: "delete", remote: true }
        = " | "
        = link_to "edit", edit_post_path(post)
      %span.category
        .color-code{style: "background-color: ##{post.category.color};"}
        .name= post.category.name
    .clearfix
