%nav.navbar.navbar-default
  .container
    .navbar-header
      - identifier = rand(1000000000)
      %button.navbar-toggle{'data-target': "#navbar-collapse-#{identifier}",'data-toggle': 'collapse', type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to queue_path, class: 'navbar-brand' do
        Octoforce
        .beta
          beta
    .collapse.navbar-collapse{id: "navbar-collapse-#{identifier}"}
      %ul.navbar-nav.nav
        - nav_items = [['Queue', queue_path], ['Analytics', analytics_path], ['Schedules', schedules_path], ['Library', library_path], ['Feeds', feeds_path], ['Accounts', identities_path]]
        - nav_items.each do |item|
          %li{class: ('active' if request.path.match(item[1][/\A\/?[^\/]+/]))}
            = link_to item[0], item[1]
        %li
          = link_to add_content_path, class: 'btn btn-primary' do
            %i.fa.fa-plus
            Add Content
      %ul.navbar-nav.nav.navbar-right.small
        %li{class: ('active' if request.path.match(edit_user_registration_path))}
          = link_to 'Profile', edit_user_registration_path
        %li
          = link_to 'Sign out', destroy_user_session_path, method: :delete
        - if current_user != true_user
          = link_to 'Back to Admin', stop_impersonating_admin_users_path
