= form_for timeslot, url: timeslots_path, remote: true, html: { class: 'form-horizontal', id: "#{defined? id ? id : 'add_timeslot'}" } do |f|
  .form-group
    = f.label :identity_ids, 'Accounts', class: 'col-sm-2 control-label'
    .col-sm-10
      - all_identities.each_with_index do |identity, index|
        .account-picker-item.includes-provider-logo{data: {toggle: 'tooltip', title: "#{identity.subname}"}}
          = check_box_tag "timeslot[identity_ids][]", identity.id, timeslot.identity_ids.include?(identity.id), id: "timeslot_identity_ids_#{index}"
          = label_tag "timeslot_identity_ids_#{index}", class: 'm0' do
            = image_tag identity.image
            %i.fa{class: "fa-#{identity.provider} bg-#{identity.provider} provider-logo-br logo-square logo-radius text-center"}

  .form-group
    = f.label :day, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :day, day_options, { selected: (defined?(day) ? day : 0).to_s }, { class: 'form-control' }
  .form-group
    = f.label :offset, 'Time', class: 'col-sm-2 control-label', required: 'required'
    .col-sm-10
      = f.text_field :offset, placeholder: "Type scheduling time, eg. 2:32pm or 14:32", class: 'form-control', required: 'required'
  .form-group
    = f.label :category_id, 'Category', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :category_id, category_options, {}, { class: 'form-control' }
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit "Add timeslot", class: 'btn btn-primary', data: { disable_with: 'Submitting...' }
